

.appContainer {
  height: 100%;
  margin: 30px;
  display:flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:30px;
}


/* .tweetContainer {
  margin: 30px auto;
  display:flex;
border-radius: 6px;
border: 2px solid hsl(0, 0%, 80%);
  position: relative;
  flex-direction: column;
  width: 600px;
  height:180px;
  padding:20px;
  overflow: auto;
  align-items: flex-end;
} */
.textarea {
  background-color: #15202B;
  border: 1px;
  resize: none;
  width: 595px;
  height: 150px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-shadow: none;
  outline: none;
  color: #CCCCCC;
}
 .enterTweet {
   margin: 30px auto;
  display:flex;
border-radius: 6px;
border: 2px solid hsl(0, 0%, 80%);
  position: relative;
  flex-direction: column;
  width: 600px;
  height:180px;
  padding:20px;
  overflow: auto;
  align-items: flex-end;
} 
.tweetButton {
  background-color: #007BFF;
  height: 34px;
  padding: 0 10px;
  width: 68px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.tweetBox {
  background-color: #343A40;
  border-radius: 6px;
  width: 600px;
  padding: 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
}

.tweetTop {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  color: #6C757D;
  font-size: 14px;
}
/* .tweetDate {
  float: left;
}
.tweetText {
  top: -15px;
} */
.tweetText{
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: flex-start;
  margin-top: 16px;
  font-size: 14px;
}
.tweetList {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #000;
  border-top: 10px solid #fff; 
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1076px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  background: #343A40;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.5);
}
.link{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-left: 45px;

}
.userForm{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#fff;
  padding: 30px;
}
.loginInput{
  background-color: #15202B;
  border: 1px;
  resize: none;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-shadow: none;
  outline: none;
  color: #CCCCCC;
  border-radius: 6px;
border: 2px solid hsl(0, 0%, 80%);
}
.profile{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#fff;
  
}
.btn-submit{
  background-color: #007BFF;
  height: 50px;
  padding: 0 10px;
  width: 100px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.profileButton{
  background-color: #007BFF;
  height: 50px;
  padding: 0 10px;
  width: 100px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.profileForm{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
